@import "tailwindcss";

@theme {
  --color-main: #00395E;
  --color-secondary: #00538a;
}



@layer components {
  .text-main-color {
    color: var(--color-main);
  }

  .text-secondary-color {
    color: var(--color-secondary);
  }

  .bg-main-color {
    background-color: var(--color-main);
  }

  .bg-secondary-color {
    background-color: var(--color-secondary);
  }

  .bg-img-onboarding {
    background-image: url("assets/onboarding/onboarding_grad_proj_bg_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
  }

  .scrollable-div::-webkit-scrollbar {
    display: none;
  }
}