@import "tailwindcss";

@theme {
  --color-main: #567FAA;
  --color-bg-main: #0261A0;
}

@layer components {
  .text-main-color {
    color: var(--color-main);
  }

  .bg-main-color {
    background-color: var(--color-bg-main);
  }
}