@import "tailwindcss";

@theme {
  --color-main: #567FAA;
  --color-bg-main: #0261A0;
  --color-secondary: #003659;
}

@layer components {
  .text-main-color {
    color: var(--color-main);
  }

  .text-secondary-color {
    color: var(--color-secondary);
  }

  .bg-main-color {
    background-color: var(--color-bg-main);
  }

  .bg-secondary-color {
    background-color: var(--color-secondary);
  }

  .bg-img-onboarding {
    background-image: url("assets/onboarding_grad_proj_bg_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .scrollable-div::-webkit-scrollbar {
    display: none;
  }
}